/* form-container styling */
form-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* body */
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-image:url(../images/signin-bg.jpg);
    background-size: cover;
    background-position: center;
}
/* signin-form */
signin-form{
    background: rgba(64, 64, 64, 0.15);
    padding: 40px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    text-align: center;
    width: 400px;
    color: beige;
}
/* signin-title */
signin-title{
    font-size: 50px;
    margin-bottom: 40px;
}
/* input-box */
input-box{
    box-sizing: content-box;
    text-align: center;
}
/* input-box input */
input-box{
    width: 100px;
    border: none;
    background: 255, 255, 255, 0.1;
    padding: 12px 12px 12px 45px;


}



